.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.icon {
  padding: 8px;
}
.id {
  font-size: 9pt;
  color: gray;
  padding-left: 4px;
}

.contact-item {
  display: block;
  width: 360px;
  min-width: 320px;
  border: 1px solid darkgrey;
  border-radius: 8px;
  padding: 8px;
}

.container-btn {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 4px;
}
