.title {
  display: flex;
  align-items: center;
  /* gap: 24px; */
  flex-direction: column;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  width: 300px;
  border: 1px Solid gray;
  border-radius: 8px;
  margin: 0 auto;
  padding: 8px;
}

input {
  box-sizing: border-box;
  border: 1px Solid gray;
  border-radius: 4px;
}

input[type="text"] {
  position: relative;
  width: 100%;
}
.form-element {
  width: 97%;
}
.error {
  color: red;
  font-weight: 700;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
